body {
	background-color: LightGrey;
	margin-left: 8px;
}

h1 {
	background-color: LightGrey; 
 }

 p { 
 	background-color: LightGrey 
 	}

 	.image01{
 		margin: auto;
  width: 34%;
  border: 3px solid green;
  padding: 10px;
 	}

 	.p01 {
 		background-color: LightBlack;
 	}

 	.h2blackBand {
 		background-color: Black;
 	}

 	